h1 {
	font-size: 24px;
}

body {
	font-family: sans-serif;
}

.app {
	display: inline-flex;
	width: 900px
	height: 500px;
}

.vidLink {
	padding: 20px;
	border: 2px;
	border-style: solid;
	border-color: #edeff0;
	display: flex;
	justify-content: space-between;
}

.selected {
	background-color: #d4e2fe
}

.navigation {
	font-size: 16px;
}

.videoClass {
	width: 900px;
	height: 500px;
}
